LOG_LEVEL=INFO
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=imobiliarias.pepefcardoso.dev
POSTGRES_DB=imobiliarias
POSTGRES_USER=imobiliarias
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
REDIS_URL=redis://redis:6379/0