LOG_LEVEL=INFO
DJANGO_SECRET_KEY=change-me
DJANGO_ALLOWED_HOSTS=casasul.pepefcardoso.dev
POSTGRES_DB=casasul
POSTGRES_USER=casasul
POSTGRES_PASSWORD=change-me
POSTGRES_HOST=postgres
REDIS_URL=redis://redis:6379/0